* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: whitesmoke;
    width: 100%;
    height: 85px;
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
    padding: 0 50px;
    position: fixed;
    top: 0;
    line-height: 65px;
    /* z-index: 1; */
}

nav .menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0 10px;
    text-transform: capitalize;

}

nav .menu h2 {
    margin-top: -21px;
    margin-left: -68px;
    line-height: 22px;
    text-shadow: 3px 3px 3px;
    color: darkgrey
}

nav .logo a {
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    margin-top: -65px;
    margin-left: 875px;
    display: flex;
    justify-content: space-between;
    
}


nav .button {
    text-transform: capitalize;
    color: black;
    margin-top: -45px;
    margin-left: 994px;
    border-radius: 4px;
    padding: 3px 12px ;
    display: flex;
    justify-content: space-between;
}
/* nav .button

{
    margin-left: 1079px;
    border-radius: 26px;
    padding: 3px 12px;
} */
/* .banner
{ background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),
    url(https://content-prod-live.cert.starbucks.com/binary/v2/asset/137-94807.jpg);
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: cover;
} */

.a
{
    /* border: 2px solid;
    width: 411px;
    height: 275px; */
    float: left;
    margin: 4px;
    padding: 4px;
    border-radius: 0;

}
.a img
{
    margin-top: 117px;
    margin-left: -1px;
    width: 654px;
    height: 346px
}
.a p
{
    background: darkslategray;
    text-align: center;
    font-size: 35px;
    color: white;
    height: 346px;
    width: 629px;
    margin-top: -366px;
    margin-left: 628px;
    line-height: 196px;


}
.a h3
{
    margin-top: -201px;
    margin-left: 693px;
    padding-right: 92px;
    text-align: center;
    padding-left: 65px;
    font-size: 19px;
    color: white;
}
.a button
{
    margin-left: 919px;
    border-radius: 17px;
    padding: 7px 17px;
    color: green;
    margin-top: 20px;
}
.b img
{
    margin-top: 5px;
    margin-left: 639px;
    width: 616px;
    height: 346px
}
.b p
{
    background: #007549;
    text-align: center;
    font-size: 35px;
    color: white;
    height: 346px;
    width: 629px;
    margin-top: -350px;
    margin-left: 10px;
    line-height: 196px;


}
.b h3
{
    margin-top: -201px;
    margin-left: 81px;
    padding-right: 92px;
    text-align: center;
    padding-left: 22px;
    font-size: 19px;
    color: white;
    margin-right: 626px;
}
.b button
{
    margin-left: 209px;
    border-radius: 17px;
    padding: 7px 34px;
    color: white;
    margin-top: 31px;
    font-size: 17px;
    background: #007549;
}
.c img
{
    margin-top: 126px;
    margin-left: 10px;
    width: 616px;
    height: 518px;
}
.c p
{
    background: #d9e89a;
    text-align: center;
    /* font-size: 35px; */
    color: black;
    padding-top: 55px;
    height: 519px;
    width: 629px;
    margin-top: -522px;
    margin-left: 626px;
    line-height: 87px;
    font-size: 69px;
}
.c h3
{
    margin-top: -269px;
    margin-left: 693px;
    /* padding-right: -18px; */
    text-align: center;
    /* padding-left: -37px; */
    font-size: 19px;
    color: black;
    font-size: 22px;
    margin-right: 55px;
    margin-left: 690px;
}
.c button
{
    margin-left: 862px;
    border-radius: 17px;
    padding: 7px 34px;
    color: black;
    margin-top: 53px;
    font-size: 17px;
    background: #d9e89a;
}
.d img
{
    margin-top: 100px;
    margin-left: 627px;
    width: 628px;
    height: 550px;
}
.d p
{
    background: #fa745c;
    text-align: center;
    font-size: 87px;
    color: black;
    height: 550px;
    width: 629px;
    margin-top: -554px;
    margin-left: 10px;
    line-height: 87px;
    padding-top: 82px;


}
.d h3
{
    margin-top: -245px;
    margin-left: 81px;
    padding-right: 92px;
    text-align: center;
    padding-left: 22px;
    font-size: 28px;
    color: black;
    margin-right: 626px;
}
.d button
{
    margin-left: 209px;
    border-radius: 17px;
    padding: 7px 34px;
    color: black;
    margin-top: 31px;
    font-size: 17px;
    background: #fa745c;
}
.e img
{
    margin-top: 111px;
    margin-left: 10px;
    width: 616px;
    height: 345px;
}
.e p
{
    background: #007549;
    text-align: center;
    /* font-size: 35px; */
    color: white;
    padding-top: 55px;
    height: 345px;
    width: 629px;
    margin-top: -349px;
    margin-left: 626px;
    line-height: 87px;
    font-size: 37px;
}
.e h3
{
    margin-top: -207px;
    margin-left: 693px;
    text-align: center;
    font-size: 19px;
    color: white;
    font-size: 24px;
    margin-right: 50px;
    margin-left: 690px;
}
.e button
{
    margin-left: 862px;
    border-radius: 17px;
    padding: 7px 34px;
    color: white;
    border: white solid;
    margin-top: 53px;
    font-size: 17px;
    background: #007549;
}
.f img
{
    margin-top: 100px;
    margin-left: 627px;
    width: 628px;
    height: 550px;
}
.f p
{
    background: #06ce8d;
    text-align: center;
    font-size: 52px;
    color: black;
    height: 550px;
    width: 629px;
    margin-top: -554px;
    margin-left: 10px;
    line-height: 111px;
    padding-top: 82px;


}
.f h3
{
    margin-top: -325px;
    margin-left: 81px;
    padding-right: 92px;
    text-align: center;
    padding-left: 22px;
    font-size: 35px;
    color: black;
    margin-right: 626px;
    
}
.f button
{
    margin-left: 209px;
    border-radius: 17px;
    padding: 7px 34px;
    color: black;
    margin-top: 31px;
    font-size: 17px;
    background: #06ce8d;
}

footer h2
{
    margin-top: 230px;
    margin-left: 262px;
    margin-right: 230px;
    font-size: 24px;
    text-align:center;
    margin-bottom: 230px;
}
footer p
{
    text-align: center;
    margin-left: 356px;
    margin-right: 326px;
    font-size: 21px;
    margin-top: -114px;
}
footer h3
{
    margin-left: 262px;
    margin-right: 230px;
    font-size: 22px;
    margin-top: 97px;
    text-align:center;
    margin-bottom: 170px;
}
footer h4
{
    margin-bottom: 330px;
    margin-top: -143px;
    text-shadow: 3px 3px 3px;
    color: darkgrey;
}