* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

nav {
    background: white;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    top: 0;
    z-index: 1;


}

nav .menu a {
    text-decoration: none;
    color: #ff2b85fa;
    font-size: 20px;
    margin: 0 10px;
}

.banner {
    /* background-image: url(../image/about-foodpanda-1920x539.jpeg); */
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),url(../image/about-foodpanda-1920x539.jpeg);
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: cover;
}

.banner h1 {
    text-align: center;
    position: relative;
    font-size: 31px;
    top: 93px;
    /*background-color: green;*/
    color: white;
    width: 33%;
    margin: auto;
    background: rgba(0, 0, 244, 0.1);
}

.news {

    /*background-color:#f02b68;*/
    /* background: rgb(150,120, 150);*/
    background: linear-gradient(to right, red, black, green);
    width: 100%;
    height: 50px;

}

.news marquee {
    color: white;
    font-size: 25px;
    font-family: cursive;
    line-height: 50px;
    text-shadow: 3px 3px 3px black;
    letter-spacing: 3px;
    word-spacing: 3px;
    font-weight: bold;
}
.about
{
    padding: 200px 100px;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),url(../image/jason-goodman-Oalh2MojUuk-unsplash-1024x683.jpg);
    background-attachment: fixed;

}
.about h2{
    font-size: 29px;
    font-family: coursive;
    text-transform: capitalize;
    color: yellow;
    text-align: center;
    line-height: 1px;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 62px;
    text-shadow: 2px 2px 2px green  ;
    margin-top: -127px;
}
.about p{
    list-style: 26px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: coursive;
    color: white;
    font-size: 27px;
    margin-bottom: 12px;

}
.about button{
    width: 220px;
    height: 45px;
    background: #ff2b85;
    border: none;
    border-radius: 45px;

}
.about button:hover{
    background: linear-gradient(to right,green ,red);
}

.press
{
    padding: 200px 100px;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),url(../image/DH_sRGB_230609_Delivery_Hero_17_Stills_10922-scaled-1.jpg);
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.press h2{
    font-size: 29px;
    font-family: coursive;
    text-transform: capitalize;
    color: yellow;
    text-align: center;
    line-height: 1px;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 62px;
    text-shadow: 2px 2px 2px green  ;
    margin-top: -127px;
}
.press p{
    list-style: 26px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: coursive;
    margin-bottom: 12px;
    font-size: 27px;
    color: white;

}
.press button{
    width: 220px;
    height: 45px;
    background: #ff2b85;
    border: none;
    border-radius: 45px;

}
.press button:hover{
    background: linear-gradient(to right,green ,red);
}

.team
{
    padding: 200px 100px;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),url(../image/APAC_pandapurpose-2023-cover-image-for-Newsroom-LinkedIn_FGD-190757_工作區域-1.jpg);
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.team h2{
    font-size: 29px;
    font-family: coursive;
    text-transform: capitalize;
    color: yellow;
    text-align: center;
    line-height: 1px;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 62px;
    text-shadow: 2px 2px 2px green  ;
    margin-top: -127px;
}
.team p{
    list-style: 26px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-family: coursive;
    /* text-decoration-color: white; */
    margin-bottom: 12px;
    font-size: 27px;
    color: white;

}
.team button{
    width: 220px;
    height: 45px;
    background: #ff2b85;
    border: none;
    border-radius: 45px;

}
.team button:hover{
    background: linear-gradient(to right,green ,red);
}

.contact
{
    padding: 200px 100px;
    text-align: center;
   background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url(https://www.foodpanda.com/wp-content/uploads/2023/02/fp-contact-1-1920x539.jpeg);
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
}
.contact h2{
    font-size: 29px;
    font-family: coursive;
    text-transform: capitalize;
    color: yellow;
    text-align: center;
    line-height: 1px;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 62px;
    text-shadow: 2px 2px 2px green  ;
    margin-top: -127px;
}
.contact p{
    list-style: 26px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    font-size: 27px;
    font-family: coursive;
    margin-bottom: 12px;

}
.contact button{
    width: 220px;
    height: 45px;
    background: #ff2b85;
    border: none;
    border-radius: 45px;

}
.contact button:hover{
    background: linear-gradient(to right,green ,red);
}
/* footer{
    width: 100%;
    background-color: black;
    height:100%;
    padding: 80px 3% 70px;
    display: flex;
    justify-content:space-between ;

    /* grid-template-columns: repeat(auto-fit,minmax(200px,auto)); */
    /* gap: 3.5rem; */
    /* margin-top: 0; */
    /* background: black; */
/* }
.footer-content h4{
    color: white;
    margin-bottom: 1.5rem;
    font-size: 20px;
}
.footer-content li
{
    margin-bottom: 16px;

}
.footer-content li a{
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 400; */
    /* transition: all .40s ease;

}
.footer-content li a:hover
{
    transform: translate(-3px)translate(-5px);
    color: white;

}
.footer-content p

{ color: white;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;

} */
